*{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
    text-align: center;
    top: 15%;
	background: linear-gradient(to right, rgb(11, 20, 117), rgb(251, 58, 132)); /* Standard syntax */
}
main{
    max-width: 440px;
    margin: 80px auto;
    text-align: center;
    box-sizing: border-box;
    padding: 0 20px;
}
h1{
    font-size: 32px;
    color: #fff;
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.6px;
    width: 100%;
}
h2 {
    font-size: 18px;
    color: #fff;
    text-align: center;
    letter-spacing: 0.6px;
}
h3 {
    font-size: 18px;
    color: #000;
    text-align: center;
    letter-spacing: 0.6px;
    font-weight: bold;
}
